body {
  min-height: 100vh;
  display: flex;
  /* Horizontal placement */
  justify-content: center;
  /* Vertical placement */
  align-items: center; 
  background: rgb(107, 107, 109);
}

.color-btn {
  padding: .25rem 1rem;
  border: 2px solid #fff;
  border-radius: 7px;
  color: #ffff;
  background: rgb(2, 10, 55, .5);
  font-size: 1.5rem;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  color: #ffff
}
.color-btn:hover {
  background: rgb(8, 11, 48);
  transition: .5s;
}